
    html,
    body {
      height: 100%;
      scroll-behavior: smooth;
    }

    body {
      background-color: #131313;
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-variation-settings: "slnt" 0;
      color: white;
    }

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #a3006db7; 
}

/* The scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #d33cf2;
  border-radius: 10px; 

}
    [x-cloak] {
      display: none !important;
    }

    .logo:hover .logo-svg {
      transform: rotateY(180deg);
    }

    .btn--animateglowPink {
      --border-size: 6px;
      --border-angle: 0turn;
      background-image: conic-gradient(from var(--border-angle),
          #131313,
          #131313 50%,
          #131313),
        conic-gradient(from var(--border-angle),
          transparent 20%,
          #d33cf2,
          transparent);
      background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)),
        cover;
      background-position: center center;
      background-repeat: no-repeat;
      animation: 8s linear infinite bg-spin;
    }

    @keyframes bg-spin {
      to {
        --border-angle: 1turn;
      }
    }

    @property --border-angle {
      syntax: "<angle>";
      inherits: true;
      initial-value: 0turn;
    }

    .circle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: grid;
      grid-template-areas: "layer";
      place-items: center;
      border-radius: 50%;

      --radius: 250px;
      width: 100%;
      min-height: 100%;
      transition: all 0.3s ease;
    }

    .stat {
      grid-area: layer;
      --d: calc(var(--i) / var(--total));
      --r-offset: -0.25turn;
      --r-amount: 1turn;
      --r: calc((var(--r-amount) * var(--d)) + var(--r-offset));
      --transform: rotate(var(--r)) translate(var(--radius)) rotate(calc(-1 * var(--r)));
      transform: var(--transform);
    }

    .glass {
      background: rgba(255, 255, 255, 0.26) !important;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
      backdrop-filter: blur(9.3px) !important;
      -webkit-backdrop-filter: blur(9.3px) !important;
    }

    @media (max-width: 1280px) {
      .stat {
        --radius: 25vmin !important;
      }
      
      @keyframes float {
        0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
      }

      50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-5px);
      }

      100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
      }
    }
    
    @keyframes floatdown {
      0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(-5px);
      }

      50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(0px);
      }

      100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(-5px);
      }
    }
  }



  /* new  */


  

  
  /*	CURRENT MAX WIDTH IS JUST FOR DEMO PURPOSES */
  .tag-scrollers {
    width: 100%;
    overflow: hidden;
  }
  
  /*	POSSIBLY UPDATE COLORS IN THE GRADIENT
      TO MATCH THE PROJECTS DESIGN SYSTEM
  */
  .tag-scroller {
    display: grid;
    gap: 1.5rem;
    mask: linear-gradient(90deg, #0000, var(--background) 15%, var(--background) 85%, #0000);
  }
  
  .tag-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    /*	IF THE GAP IS CHANGED, DON'T FORGET TO CHANGE 
        THE TRANSFORM VALUE IN THE SCROLL ANIMATION
        AT THE END OF THE STYLING
    */
    gap: 1.5rem;
  }
  
  /*	IF THE USERS PREFERS REDUCED MOTION
      PRESENT THEM WITH A HOROZONTAL LIST
      OF ALL ELEMENTS AND GIVE THEM THE
      OPTION TO MANUALLY SCROLL BY SWIPING
  */
  @media (prefers-reduced-motion) {
    .tag-list {
      flex-flow: row nowrap;
      overflow: auto;
      scrollbar-width: none;
      scrollbar-color: transparent transparent;
    }
    .tag-list::-webkit-scrollbar-track {
      background: transparent;
    }
    .tag-list::-webkit-scrollbar-thumb {
      background: transparent;
    }
    .tag-list::-webkit-scrollbar {
      display: none;
      width: 0;
      height: 0;
    }
  }
  
  /*	BASIC STYLING OF THE LIST ITEMS
      FOR DEMO PURPOSES. MOST PROPERTIES
      SHOULD BE KEPT AS IS BUT PROBABLY
      UPDATE THE VALUE FOR font-family
      AND border
  */
  .tag-list li {
    font-family: system-ui;
    font-size: 1.125rem;
    line-height: 1;
    padding: 0.625rem 1.375rem;
    border: 2px solid #E730CA;
    border-radius: 10ch;
    white-space: nowrap;
  }
  
  /*	THE DURATION IS SET FROM A CUSTOM PROPERTY
      CALCULATED IN THE SCRIPT AS IT'S ONLY NEEDED
      IF THE ANIMATION SHOULD RUN, WHICH IS ALSO
      CHECKED BY THE SCRIPT
  
      THE DIRECTION IS SET TO normal AS DEFULT
      AND THEN SET TO reverse	FOR EVERY OTHER SCROLLER
  */
  .tag-scroller.scrolling .tag-list {
    width: max-content;
    flex-wrap: nowrap;
    animation: horizontal-scroll var(--duration) var(--direction, normal) linear infinite;
  }
  
  .tag-scroller.scrolling .tag-list:nth-child(even) {
    --direction: reverse;
  }
  
  /* PAUSING THE ANIMATION ON HOVER */
  .tag-scroller:hover .tag-list {
    animation-play-state: paused;
  }
  
  @keyframes horizontal-scroll {
    to {
      /*	0.75rem FOR HALF THE GAP
          OF THE .tag-scroller
      */
      transform: translateX(calc(-50% - .75rem));
    }
  }

 .order{
  background-color: #E730CA;
 }
 .ex-box{
  border: 1px solid #E730CA;
 }
 .ex-box h3{

 }
 .ex-box h4{

 }
 .ex-box p{

 }

 
 @media (max-width: 750px) {
 .timeline-1{
  display: none;
 }
 .timeline-2{
  display: block !important;
 }
  }


  .navtabs {
    display: flex;
    justify-content: start;
    margin-top: 0px;
    border-radius: 8px;
    padding: 10px 20px;
    position: relative;
    flex-wrap: wrap;
  }
  .navtab {
margin: 5px 10px;
text-align: center;
border: 1px solid #E730CA;;
padding:8px 18px;
border-radius: 10px;
cursor: pointer;
  }

  /* SLIDER */

  .slider-container {
    margin: 0 auto;
    width: 100%;
  }
  .swiper {
    width: 100%;
    padding: 16px 0 20px;
    margin-bottom: 50px;
}
.swiper-3d {
  perspective: 1200px;
}
.swiper-horizontal {
  touch-action: pan-y;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}


/* ad sda.................. */
  .navtab.active {
    background-color: #E730CA;
  }

  .content {
    display: none;
    padding: 50px 20px 20px;
    width: 100%;
    text-align: center;
  }
  .content.active {
    display: block;
  }


  /* contact me  */

  .contact-me{
    .social-buttons {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 15px 10px;
      margin: 20px 0;
    }
    
    .social-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 0 10px;
      /* background-color: #fff; */
      box-shadow: 0px 0px 4px #00000027;
      transition: 0.3s;
    }
    
    .social-button:hover {
      background-color: #f2f2f2;
      box-shadow: 0px 0px 6px 3px #00000027;
    }
    
    .social-buttons svg {
      transition: 0.3s;
      height: 20px;
    }
    
    .whatsapp {
      background-color: #43983b;
    }
    
    .whatsapp svg {
      fill: #f2f2f2;
    }
    
    .whatsapp:hover svg {
      fill: #43983b;
    }
    
    .github {
      background-color: #333;
    }
    
    .github svg {
      width: 25px;
      height: 25px;
      fill: #f2f2f2;
    }
    
    .github:hover svg {
      fill: #333;
    }
    
    .linkedin {
      background-color: #0077b5;
    }
    
    .linkedin svg {
      fill: #f2f2f2;
    }
    
    .linkedin:hover svg {
      fill: #0077b5;
    }
    
    .instagram {
      background-color: #c13584;
    }
    
    .instagram svg {
      fill: #f2f2f2;
    }
    
    .instagram:hover svg {
      fill: #c13584;
    }
    
  }
  .color-image {

      filter: hue-rotate(470deg) saturate(400%);
  
  }  


/* education  */


.education{
  .code-editor {
    background-color: #1d1e22;
    border-radius: 8px;
    padding: 2px;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
  }
  
  .title {
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 1.57px;
    color: rgb(212 212 212);
  }
  
  .icon {
    width: 20px;
    transition: .2s ease;
  }
  
  .icon:hover {
    cursor: pointer;
    border-radius: 50px;
    background-color: #6e7281;
  }
  
  .editor-content {
    margin: 0 10px 10px;
    color: white;
  }
  
  .property {
    margin-left: 30px;
  }
  
  .property:hover {
    cursor: text;
  }
  
  .editor-content .color-0 {
    color: rgb(86 156 214);
  }
  
  .editor-content .color-1 {
    color: rgb(182 206 168);
  }
  
  .editor-content .color-2 {
    color: rgb(156 220 254);
  }
  
  .editor-content .color-3 {
    color: rgb(207 146 120);
  } 
  .editor-content .color-4 {
    color: rgb(204, 120, 207);
  }
  
  .color-preview-1,.color-preview-2 {
    height: 8px;
    width: 8px;
    border: 1px solid #fff;
    display: inline-block;
    margin-right: 3px;
  }
  
  .color-preview-1 {
    background-color: #1d1e22;
  }
  
  .color-preview-1 {
    background-color: rgba(0, 0, 0, 0.5);
  }

}


#Projects, #Design{

.post-card {
  background: lightgrey;
  background-color: transparent;
  border: 1px solid #E730CA;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  position: relative;
}
.link{
  background-color: #E730CA;
border-radius: 5px;
border: 1px solid #E730CA;
}
.link:hover{
  background-color: transparent;
  border: 1px solid #E730CA;

}
.title {
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
  text-align: start;
  transition: all .35s ease-in;
}

.title:hover {
  text-decoration: underline #E730CA;
}

.datetime {
  font-size: 12px;
  color: rgb(168 179 207);
  margin: 10px 0;
}

.image-preview {
  flex: 1;
  min-height: 150px;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 4px;
}

.comment-like {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2px 0;
}

.comment-like span {
  cursor: pointer;
  height: 40px;
  width: 50px;
  padding: 0 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  border-radius: 10px;
  background-color: transparent;
  transition: all .15s ease;
}

.comment-like span:hover {
  background-color: rgba(137, 43, 226, 0.096);
}

.comment-like span svg {
  fill: rgb(255, 255, 255);
  margin-right: 2px;
}
}

.contact-btn{
  padding: 15px 35px;
  border-radius: 10px;
 background-color: #E730CA;
 margin: 30px 20px;
}

.skills{
margin: 10% 0;
.skill-set{
  text-wrap: wrap;
}
.skill-set p{
 border-radius: 5px;
 margin: 7px 10px;
 padding:10px;
 font-weight: 600;
 border: 1px solid #E730CA;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}
.skill-icon{
  width: 20px;
  height: 20px;
  margin: 2px 5px;
}


}

#loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #131313;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  
}
/* From Uiverse.io by TechByElijah */ 
.center {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

.container {
  height: 31.25em;
  width: 21.87em;
  margin-top: -325px;
}

.rope {
  height: 13.62em;
  width: 0.15em;
  background-color: #ffffff;
  animation: swing 2s infinite;
}

@keyframes swing {
  50% {
    transform: translateY(-4em);
  }
}

.legs {
  height: 1.12em;
  width: 7.5em;
  background-color: transparent;
  box-shadow: 0 0 0 0.12em #140243, 0 0 0 1.06em #1b1676, 0 0 0 1.18em #140243;
  top: 12.5em;
  border-radius: 3.12em;
}

.boot-l,
.boot-r {
  height: 1.25em;
  width: 2.5em;
  background-color: #e32832;
  position: absolute;
  border: 0.12em solid #140243;
  bottom: 1.12em;
}

.boot-l {
  left: 1em;
}

.boot-r {
  transform: rotateY(180deg);
  left: 3.81em;
}

.boot-l:before,
.boot-r:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 1.12em solid #140243;
  border-left: 1.18em solid transparent;
  bottom: 1.31em;
  left: 1.46em;
}

.boot-l:after,
.boot-r:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 1.12em solid #e32832;
  border-left: 1em solid transparent;
  right: 0;
  top: -0.93em;
}

.costume {
  height: 6.25em;
  width: 5.62em;
  background: linear-gradient(
    to right,
    #1b1676 20%,
    #e32832 20%,
    #e32832 80%,
    #1b1676 80%
  );
  border: 0.12em solid #140243;
  top: 14.68em;
}

.spider {
  height: 1.87em;
  width: 0.93em;
  background-color: #140243;
  border-radius: 45%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: calc(50% + 0.93em);
  left: 50%;
}

.s1,
.s3 {
  height: 7.5em;
  width: 2.5em;
  border-radius: 0 0 1.37em 1.37em;
  border-bottom: 0.12em solid #140243;
  position: absolute;
}

.s2,
.s4 {
  height: 7.5em;
  width: 3.12em;
  border-radius: 0 0 1.56em 1.56em;
  border-bottom: 0.12em solid #140243;
  position: absolute;
}

.s1,
.s2,
.s3,
.s4 {
  left: 50%;
}

.s1 {
  bottom: 1.43em;
}

.s2 {
  bottom: 0.93em;
}

.s3,
.s4 {
  transform: translateX(-50%) rotateX(180deg);
}

.s3 {
  top: 1.43em;
}

.s4 {
  top: 0.93em;
}

.belt {
  height: 0.43em;
  width: 5.87em;
  background-color: #e32832;
  border: 0.12em solid #140243;
  top: -0.12em;
}

.hand-r,
.hand-l {
  height: 8.12em;
  background: linear-gradient(
    #e32832 4.6em,
    #140243 4.6em,
    #140243 4.75em,
    #1b1676 4.75em,
    #1b1676 8.12em
  );
  width: 1.12em;
  border: 0.12em solid #140243;
  border-radius: 1.25em;
  position: absolute;
  transform-origin: bottom;
  bottom: -0.12em;
}

.hand-r {
  right: -0.75em;
  transform: rotate(-22deg);
}

.hand-l {
  left: -0.75em;
  transform: rotate(22deg);
}

.neck {
  height: 0.37em;
  width: 1.25em;
  background-color: #e32832;
  bottom: -0.62em;
  border: 0.12em solid #140243;
}

.mask {
  height: 4.65em;
  width: 4.06em;
  background-color: #e32832;
  border-radius: 50% 50% 50% 50% / 54% 54% 46% 46%;
  border: 0.12em solid #140243;
  top: 6.56em;
}

.eye-l,
.eye-r {
  height: 0.68em;
  width: 1.37em;
  background-color: #ffffff;
  border-radius: 1.37em 1.37em 0 0;
  border: 0.12em solid #140243;
  position: absolute;
  top: 2.1em;
}

.eye-l {
  left: 0.3em;
}

.eye-r {
  right: 0.3em;
}

.cover {
  height: 3.12em;
  width: 0.15em;
  background-color: #1b1b1b;
  bottom: 8.12em;
}

@media screen and (min-width: 600px) {
  .container {
    font-size: 20px;
  }
}